SMTP_HOST=[Your SMTP hostname]
SMTP_PORT=[Your SMTP port. Usually 465 or 587]
SMTP_USER=[Your SMTP username]
SMTP_PASS=[Your SMTP passcode or API key]
MAIL_FROM=[Your domain]
ALLOWED_DOMAINS=[Your personal domains for testing purpose. Usage: example.com]